.title {
  text-align: center;
  font-size: 3rem;
}

.photos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding-top: 20px;
}

.no-data {
  text-align: center;
}
